<!DOCTYPE html>
<html>

<head>
  <title>Slimio/Addon-Manager</title>
  <meta charset="utf-8">
  <link href="../public/header.css" rel="stylesheet">
  <link href="../public/body.css" rel="stylesheet">
  <link href="../public/footer.css" rel="stylesheet">
  <link rel="stylesheet" href="../fontello-ea/css/fontello.css">
</head>

<body class="client_lourd">
  <nav id="Menu">
    <div class="logo_container">
      <img id="logo" src="../public/img/monitoring-logo.png" alt="Slimio Logo">
    </div>
    <section id="drop_down_menu">
      <ul id="menu">
        <li>
          <a href="#">Menu1</a>
          <ul id="sous_menu">
            <li><a href="#">Sous-Menu1</a></li>
            <li><a href="#">Sous-Menu2</a></li>
            <li><a href="#">Sous-Menu3</a></li>
            <li><a href="#">Sous-Menu4</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Menu2</a>
          <ul id="sous_menu">
            <li><a href="#">Sous-Menu1</a></li>
            <li><a href="#">Sous-Menu2</a></li>
            <li><a href="#">Sous-Menu3</a></li>
            <li><a href="#">Sous-Menu4</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Menu3</a>
          <ul id="sous_menu">
            <li><a href="#">Sous-Menu1</a></li>
            <li><a href="#">Sous-Menu2</a></li>
            <li><a href="#">Sous-Menu3</a></li>
            <li><a href="#">Sous-Menu4</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Menu4</a>
          <ul id="sous_menu">
            <li><a href="#">Sous-Menu1</a></li>
            <li><a href="#">Sous-Menu2</a></li>
            <li><a href="#">Sous-Menu3</a></li>
            <li><a href="#">Sous-Menu4</a></li>
          </ul>
        </li>
      </ul>
  </nav>
  </section>
  <main>
    <aside id="server_content">
      <section id="console_toolbar">
        <div>SERVERS</div>
        <section id="console_items">
          <div>
            <button class="btn"><span class="icon-add"></span></button>
          </div>
          <div>
            <button class="btn"><span class="icon-group"></span></button>
          </div>
          <div>
            <button class="btn"><span class="icon-minimize"></span></button>
          </div>
        </section>
      </section>
    </aside>
    <section id="resizing_h"></section>
    <section id="toolbar">
      <section id="test">
        <section id="icons_filter_container">
          <div id="icons_filter_toolbar"></div>
          <div id="table_filter"></div>
        </section>
        <div id="scroller">
          <table id="addon_table">
            <thead>
            </thead>
          </table>
        </div>
      </section>
      <section id="resizing_v"></section>
      <div id="message"></div>
    </section>
  </main>
  <script src="../public/js/table.js"></script>
  <script src="../public/js/resize_h.js"></script>
  <script src="../public/js/resize_v.js"></script>
</body>

</html>